@use "abstracts/utill" as *;

.content-top {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.wrap {
  font-size: 1.4rem;

  .content-item {
    // @include flex($justify: center, $align: center);

    width: 100%;
    padding: 100px 0;
    // height: 600px;

    &:last-child {
      height: auto;
    }
  }
}

.no-scroll {
  overflow: hidden;
}
