@use "@/styles/abstracts/utill" as *;

.attach {
  @include flex($gap: 10px);

  a {
    padding-left: 20px;
    background-size: 16px;
    background-position: center left;
    background-repeat: no-repeat;

    &.txt {
      background-image: url("../../../public/images/icon/ico_txt.png");
    }

    &.pdf {
      background-image: url("../../../public/images/icon/ico_pdf.png");
    }

    &.xls {
      background-image: url("../../../public/images/icon/ico_excel.png");
    }

    &.doc {
      background-image: url("../../../public/images/icon/ico_word.png");
    }

    &.ppt {
      background-image: url("../../../public/images/icon/ico_ppt.png");
    }

    &.etc {
      background-image: url("../../../public/images/icon/ico_etc.png");
    }
  }
}
