@mixin flex(
  $direction: row,
  $wrap: wrap,
  $justify: flex-start,
  $align: stretch,
  $gap: 0
) {
  @content;

  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin ellipse($line-cnt, $line-height) {
  overflow: hidden;
  display: -webkit-box;
  line-height: $line-height;
  -webkit-line-clamp: $line-cnt;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

@mixin position($t: auto, $l: auto, $p: absolute) {
  position: $p;
  top: $t;
  left: $l;
  @content;
}
